.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid rgb(106, 63, 124);
  border-radius: 10px;
  width: 1000px;
  background-color: rgb(111, 233, 233);
  padding: 30px;
  text-align: center;

  &__text {
    font-size: x-large;
    color: rgb(82, 62, 62);
  }

  &__btn {
    display: flex;
    gap: 10px;
    &_1 {
      background-color: darkorange;
      font-size: medium;
      padding: 10px;
    }
    &_2 {
      background-color: darkred;
      font-size: medium;
      padding: 10px;
    }
    &_3 {
      background-color: darkgreen;
      font-size: medium;
      padding: 10px;
    }
  }
}

.completed {
  text-decoration: line-through;
}
