.success {
  color: green;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  font-size: xx-large;
}

.error {
  color: red;
  font-weight: 800;
  text-align: center;
  margin-top: 25px;
  font-size: x-large;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  & label {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  & button {
    margin: 20px auto 0 auto;
    padding: 10px;
    width: 255px;
    background-color: darkcyan;
  }

  &__input {
    width: 250px;
    text-align: center;
    margin: 0 auto 0 auto;

    &__error {
      color: red;

      margin-bottom: 20px;
    }
  }
}
