.button {
  color: black;
  background-color: rgb(21, 214, 214);
  font-size: larger;
  padding: 5px;
  margin: 10px;
  width: 150px;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}
